.image img{
    max-width: 90%;
    max-height: 80%;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 0 0  -20px -20px;

}
.image{
    border-radius: 20px;
    background-color: rgba(72, 71, 118, 0.449)    ;
    display: flex;
}
.product-info{
  

    width: 100%;

}
.buttons{
    width: 100%;
    height: auto;
    position: fixed;
    bottom:  20px;

    background-color: rgba(247,115,27, 0);
    display: grid;
    grid-template-columns:  repeat(2, calc(50% - 15px));
    column-gap: 10px;
    max-height: 65px;
    margin: 0 10px 0 10px ;
    
}
.add-to-cart{
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    display: flex;
    padding: 14px;
    width: 100%;
    background-color: rgba(80,200,120, 0.95);
    border-radius: 14px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.buy{
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;

   
    display: flex;
    padding: 14px;
    width: 100%;
    background-color: rgba(247, 115, 27, 0.95);
    border-radius: 14px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.product .info{
    width: 100%;
    
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: disc outside none;
    padding: 10px 10px 10px 25px;
    margin-top: 20px;
    font-size: clamp(5px, 5vw, 20px);

}
.product .title{
    font-size: clamp(5px, 6vw, 24px);
}
.product{
    height: 100vh;
    border-radius: 20px 20px 0 0;
    padding-bottom: 70px;
    background-color: rgba(72, 71, 118, 0.21)    ;
}